@import 'colors';
@import 'fragments';
@import 'variables';

.card {
  background-color: darken($white, 2);
  box-shadow: $box-shadow;
  padding: 8px;
  margin: 8px 0;
  border-radius: $border-radius;
}
