@font-face {
    font-family: 'icomoonapp1';
    src:    url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.eot?zbrcqn');
    src:    url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.eot?zbrcqn#iefix') format('embedded-opentype'),
        url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.woff2?zbrcqn') format('woff2'),
        url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.ttf?zbrcqn') format('truetype'),
        url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.woff?zbrcqn') format('woff'),
        url('https://i.icomoon.io/public/48159919ac/IcoMoonApp1/icomoonapp1.svg?zbrcqn#icomoonapp1') format('svg');
    font-weight: normal;
    font-style: normal;
}
