@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background;
  padding: 8px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;

  & > * {
    width: 900px;
  }

  & * {
    color: $text-color;
    font-size: 16px;
  }
}
